
.navbar {
    position: relative;
  }
  
  .user-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .collapse-content-user {
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px;
    right: 20px;
    top: calc(0% + 90px);
    width: 200px;
  }
  
  .collapse-content-product {
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px;
    top: calc(0% + 90px);
    width: 600px;
    left: 30%; 
    z-index: 1;
  }
  .icon-user{
    font-size: 20px;
    margin-right: 10px;
  }
  .active-user{
    border-left: 8px solid orange;
    color: orange;
  }
  .item-user:hover {
    color: orange !important;
    cursor: pointer;
    border-left: 8px solid orange;
  }
  .item-user .link{
    color: black;
    text-decoration: none;
  }
  .item-user:hover .link {
    color: orange; /* Đổi màu sang cam */
  }
  .add-address{
    text-decoration: none;
    color: black;
    margin-top: 10px;
  }
  .add-address:hover{
    color: orange;
  }
