.custom-dropdown-item:focus {
    background-color: transparent; /* Thay đổi màu nền thành màu vàng khi được tập trung */
    color: black;
  }
.d-flex {
  display: flex;
  flex-wrap: nowrap; /* Đảm bảo các cột không bao giờ xuống hàng */
}

.dropdown-column {
  flex: 1; /* Mỗi cột sẽ chiếm một phần bằng nhau */
  padding: 0 10px; /* Khoảng cách giữa các cột */
}
.phone-brand{
  width: 400px;
}
.headphone-brand{
  width: 400px;
}
.dropdown-column.phone-brand {
  flex: 2; 
}
.dropdown-column.headphone-brand {
  flex: 2; 
}
.custom-dropdown-item {
  white-space: nowrap; /* Đảm bảo văn bản không bị xuống dòng */
}
/* Trong file CSS module */

.cart-icon {
    position: relative;
}

.cart-quantity {
    position: absolute;
    bottom: 2px; /* Điều chỉnh vị trí số lượng nằm dưới chân biểu tượng */
    left: 55%; /* Đưa số lượng về giữa */
    transform: translateX(-50%); /* Dịch chuyển để căn giữa */
    background-color: red; /* Màu nền của số lượng */
    color: #fff; /* Màu chữ của số lượng */
    padding: 0.3px 4px; /* Khoảng cách giữa số lượng và biểu tượng */
    border-radius: 50%; /* Để số lượng là hình tròn */
    font-size: 0.7rem; /* Kích thước chữ của số lượng */
}
