.phone-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .phone-image {
    transition: transform 0.3s ease-out;
  }
  
  .phone-container:hover .phone-image {
    transform: translateY(-10px);
  }
  .phone-item{
    color: black;
  }
  .phone-item:hover .phone-name{
    color: orange;
  }
  .phone-price{
    color: red;
    font-weight: bold;
    font-size: 24px;
  }
  .phone-info{
    color: black;
  }
  .text-price{
    color: #E83A45;
    margin-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .amount::after {
    content: " đ";
  }